# Project exclude paths
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-release/
cmake-build-release-coverage/
.idea/
Testing/Manual_Testing/
**/CMakeFiles
build
.vscode
html/
latex/
**/.DS_Store
